.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}
.card__title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 387px;
}
.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.card__like-button {
  background-image: url(../images/heart.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  height: 20px;
  background-color: transparent;
  width: 23px;
  color: #212121;
  cursor: pointer;
  opacity: 40%;
}
.card__like-button:hover {
  opacity: 1;
  transition: color 0.3s ease;
}

@media screen and (max-width: 627px) {
  .card {
    max-width: 288px;
    margin: auto;
  }

  .card__image {
    height: 288px;
    width: 288px;
  }
  .card__title {
    font-size: 16px;
    line-height: 1;
  }
  .card__like-button {
    width: 20px;
    height: 18px;
  }
}
